/*iframe*/
#upload_frame {
	border:0px;
	height:40px;
	width:290px;
	display:none;
}
#progress_container {
	width: 290px; 
	height: 15px; 
	border: 1px solid #CCCCCC; 
	background-color:#EBEBEB;
	display: block;
	margin:5px 0px -15px 0px;
}
#progress_bar {
	position: relative;
	height: 15px;
	background-color: #abe5f0;
	width: 0%;
	z-index:10;
}
#progress_completed {
	font-size:16px;
	z-index:40;
	line-height:15px;
	padding-left:4px;
	color:#000000;
}
body,td,a,p,.h{font-family:arial,sans-serif} 
